################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PMO.API/.vs/PMO.API
/PMO.API/PMO.API/bin/Debug/netcoreapp3.1
/PMO.API/PMO.API/obj
/PMO.API/PMO.API/PMO.API.csproj.user
/PMO.API/test/PMO.API.Test/bin/Debug/netcoreapp3.1
/PMO.API/test/PMO.API.Test/obj
/PMO.API/src/PMO.API/bin/Debug/netcoreapp3.1
/PMO.API/src/PMO.API/obj
/PMO.API/src/PMO.API/PMO.API.csproj.user
/src/PMO.API/bin/Debug/netcoreapp3.1
/src/PMO.API/obj
/src/PMO.API/PMO.API.csproj.user
/test/PMO.API.Test/bin/Debug/netcoreapp3.1
/test/PMO.API.Test/obj/Debug/netcoreapp3.1
/test/PMO.API.Test/obj
